<div class="ui search" [class.loading]="isLoading">
  <div class="ui icon input">
    <!-- ⚠️ Unterschied zum Buch:
    Der alte Code führte zu einem Typisierungproblem.
    Wir greifen daher nun mithilfe der Elementreferenz `#input` auf dem Formularwert zu.
    -->
    <input type="text" class="prompt" #input
      (keyup)="keyUp$.next(input.value)">
    <i class="search icon"></i>
  </div>

  <div class="results transition visible"
    *ngIf="foundBooks.length">
    <a class="result"
      *ngFor="let book of foundBooks"
      [routerLink]="['..', 'books', book.isbn]">
      {{ book.title }}
      <p class="description">{{ book.subtitle }}</p>
    </a>
  </div>
</div>
