<div class="ui vertical segment">
    <div class="ui text container">
      <h1 class="ui header">
        <div class="content">
          Angular
          <div class="sub header">Grundlagen, fortgeschrittene Themen und Best Practices – mit RxJS, NgRx und PWA</div>
        </div>
      </h1>

      <a href="http://angular-buch.com/"><img class="ui right floated image" src="https://api4.angular-buch.com/images/angular_auflage2_small.jpg"></a>

      <h3>Der BookMonkey 4 – Das Beispielprojekt zum Buch</h3>
      <p></p>
      <a routerLink="iteration-1" class="ui huge red button">
        Jetzt starten
        <i class="right arrow icon"></i>
      </a>

      <h3>Weitere Projekte aus dem Buch</h3>
      <div>
        <div class="ui list">
          <a class="item" href="https://github.com/book-monkey4/book-monkey4-docker">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">book-monkey4-docker</div>
              <div class="description">Angular-Apps und Docker</div>
            </div>
          </a>
          <a class="item" href="https://github.com/book-monkey4/book-monkey4-ssr">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">book-monkey4-ssr</div>
              <div class="description">Server-Side Rendering mit Angular Universal</div>
            </div>
          </a>
          <a class="item" href="https://github.com/book-monkey4/book-monkey4-ngrx">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">book-monkey4-ngrx</div>
              <div class="description">State Management mit Redux und NgRx</div>
            </div>
          </a>
          <a class="item" href="https://github.com/book-monkey4/book-monkey4-pwa">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">book-monkey4-pwa</div>
              <div class="description">Progressive Web Apps (PWA)</div>
            </div>
          </a>
          <a class="item" href="https://github.com/book-monkey4/book-monkey4-nativescript">
            <i class="right triangle icon"></i>
            <div class="content">
              <div class="header">book-monkey4-nativescript</div>
              <div class="description">NativeScript: mobile Anwendungen entwickeln</div>
            </div>
          </a>
        </div>
      </div>

    </div>
</div>
