<div class="ui vertical segment">
    <div class="ui text container">
      <h1 class="ui header">
        <div class="content">
          Angular
          <div class="sub header">Grundlagen, fortgeschrittene Themen und Best Practices – mit NativeScript und NgRx</div>
        </div>
      </h1>

      <a href="http://angular-buch.com/"><img class="ui right floated image" src="https://api4.angular-buch.com/images/angular_auflage2_small.jpg"></a>

      <h3>Der BookMonkey 4 – Das Beispielprojekt zum Buch</h3>
      <p></p>
      <a routerLink="iteration-1" class="ui huge red button">
        Jetzt starten
        <i class="right arrow icon"></i>
      </a>
    </div>
</div>
